
<p>REGISTER PAGE</p>


<form action="/sign-up" method="POST">
   
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    
    <br>
    
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    
    <button type="submit">Create new user</button>

</form>